/* coolors: https://coolors.co/073b3a-0b6e4f-08a045-6bbf59-fbfffe */


body {
    background: #eef1f1;
    font-family: 'Muli', sans-serif;

}

.card-title {
    font-family: 'Libre Baskerville', serif;
}

#masthead {
    background:#073B3A ;
    color: #FBFFFE;
    border-bottom: 8px #6BBF59 solid;
    padding: 15px;
    text-align: center;
}

#title {
    font-size: 60px;
    margin-bottom: 5px;
}

#directions {
    font-size: 20px;
}

.main-divs {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70%;
    border: 1px solid #073B3A;
}

.section-head {
    background: #073B3A;
    color: #FBFFFE;
    border-top: 1px #073B3A solid;
    border-bottom:4px #6BBF59 solid;
}

.any-button {
    background: #073B3A;
    color: #FBFFFE;
}

.any-button:hover {
    background: #6BBF59;
}


.form-control:focus {
    border: 1px #6BBF59 solid;
    box-shadow: 0 1px 1px #00000013 inset, 0 0 3px #6BBF59;

}

.form-group {
    margin-bottom: 25px;
}

#form-div {
    margin-bottom: 50px;
}

.table-header {
    font-weight: 800;
}